*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #111;
  background-color: #f5f5f5;
  -webkit-font-smoothing: antialiased;
}

button {
  font-family: inherit;
}

input,
select,
textarea {
  font-family: inherit;
}
